/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 20%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:rgb(172, 172, 172); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 12px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
        padding-left: 25px;
    }

    /* When you mouse over the navigation links, change their color */
    .sidenav a:hover {
        color:maroon;
        opacity: 0.7;
    }

    /* my picture in the side nav */
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }

    .fa {
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    /* Add a hover effect if you want */
    .fa:hover {
        opacity: 0.7;
    }

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* CONTENT PART **************** */

.content{
    height:100%;
    width:75%;
    float:right;
}

    .headers{
        text-align:center;
        font-family:Geneva;
        font-size:60px;   
    }

    .orange_mouth{
        height:300px;
        width:300px;
        
    }

    .paragraph{
        font-family:Geneva;
        font-size:20px;
    }






/* Contact me form */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    padding-left: 60px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

